<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>DEU PC - 비회원</title>
	</head>
<th:block th:replace="~{_layout/stop::sTop}"></th:block>	
		<div class="bd1">
			<div class="bd2" onclick="movePage('메인')">				
				<span class="do-hyeon-regular sm1">돌아가기</span>
			</div>
		</div>
		<div class="d1">
			<div class="d2">
				<script type="text/javascript" src="/assets/js/smain.js"></script>
				<div class="d3" onclick="movePage('비회원 충전')">
					<div class="d4">
						<span class="do-hyeon-regular">충전하기</span><br><br>
						<img class="img01" src="/assets/img/p2.png">
					</div>
				</div>
				<div class="d3" onclick="movePage('비회원로그인')">
					<div class="d4">
						<span class="do-hyeon-regular">비회원 로그인</span><br><br>
						<img class="img01" src="/assets/img/p1.png">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>