<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.mapper.AdminMapper">
	<select id="getAllUse" resultType="com.example.demo.admin.dto.LoginTimeDTO">
		<![CDATA[
			select * from `use` where use_time is null;
		]]>
	</select>
	
	<select id="getUseruse" resultType="com.example.demo.admin.dto.LoginTimeDTO" parameterType="map">
		<![CDATA[
			select * from `use` where id = #{id} and use_start = #{time} and use_time is null;
		]]>
	</select>
	
	<select id="getUserInfo" resultType="com.example.demo.admin.dto.MemberDTO" parameterType="String">
		<![CDATA[
			select * from user where id = #{id};
		]]>
	</select>
	
	<select id="getAllUser" resultType="com.example.demo.admin.dto.MemberDTO">
		<![CDATA[
			select * from user where grade is not null;
		]]>
	</select>
	
	<delete id="resignUser" parameterType="String">
		<![CDATA[
			delete from user where id = #{id};
		]]>
	</delete>
	
	<update id="updateGrade" parameterType="map">
		<![CDATA[
			update user set grade = #{grade} where id = #{id};
		]]>
	</update>
	
	<select id="getOrderList" resultType="com.example.demo.admin.dto.UserOrdersDTO">
		<![CDATA[
			SELECT
				`order`.pay_num,
				pay.total_price,
				pay.pay_date,
				pay.pay_req,
				pay.pay_state,
				pay.id,
				`order`.food_num,
				`order`.order_count,
				food.food_name,
				pay.pcnum
			FROM `order`
				LEFT OUTER JOIN payment pay ON pay.pay_num = `order`.pay_num
					LEFT OUTER JOIN food ON food.food_num = `order`.food_num
			where pay.pay_state = 0
			order by `order`.order_num desc;
		]]>
	</select>
	
	<update id="updateUserOrder" parameterType="Integer">
		<![CDATA[
			update payment set pay_state = 2 where pay_num = #{pay_num};
		]]>
	</update>
</mapper>
