<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.counter.mapper.TestMapper">
    <!--user-->
    <insert id="insertUser" parameterType="com.example.demo.counter.DTO.UserDTO">
        <![CDATA[
        insert into user (id, pwd, name, email, birth, phone, grade, time)
        values (#{id}, #{pwd}, #{name}, #{email}, #{birth}, #{phone}, #{grade}, #{time});
        ]]>
    </insert>
    <select id="selectUser" resultType="com.example.demo.counter.DTO.UserDTO" parameterType="String">
        <![CDATA[
			select * from user
			where id = #{id};
		]]>
    </select>

    <update id="updateUser" parameterType="com.example.demo.counter.DTO.UserDTO">
        <![CDATA[
			update user
			set name = #{name},pwd = #{pwd}, email = #{email}, birth = #{birth}, phone = #{phone}, grade = #{grade}, time = #{time}
			where id = #{id};
		]]>
    </update>
    <!--time-->
    <select id="selectNonUserTime" resultType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
            SELECT * from `time`
            where time_div = 1;
        ]]>
    </select>
    <select id="selectAllTime" resultType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
            SELECT * from `time`;
        ]]>
    </select>
    <select id="selectUserTime" resultType="com.example.demo.counter.DTO.TimeDTO"
            parameterType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
            SELECT * from `time`
            where time_div = 0;
        ]]>
    </select>
    <insert id="insertTime" parameterType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
            INSERT into `time`(time_num,time_div,time_use,time_price)
            values (#{time_num},#{time_div},#{time_use},#{time_price})
        ]]>
    </insert>
    <delete id="deleteTime" parameterType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
			delete from `time`
			where time_num = #{time_num}
		]]>
    </delete>
    <update id="updateTime" parameterType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
			update time
			set time_div = #{time_div}, time_use = #{time_use}, time_price = #{time_price}
			where time_num = #{time_num};
		]]>
    </update>

    <!--payment-->
    <select id="selectAllPayment" resultType="com.example.demo.counter.DTO.PaymentDTO">
        <![CDATA[
            SELECT * from `payment`
        ]]>
    </select>
    <insert id="insertPayment" parameterType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
            INSERT into `payment`(pay_num,total_price,method,pay_date,pay_div,pay_state,id)
            values (#{pay_num},#{pay_price},#{method},#{pay_date},#{pay_div},#{pay_state},#{id})
        ]]>
    </insert>
    <update id="updatePayment" parameterType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
			update `payment`
			set name = #{pay_num},#{pay_price},#{method},#{pay_date},#{pay_div},#{pay_state},#{id}
			where id = #{pay_num};
		]]>
    </update>
    <delete id="deletePayment" parameterType="com.example.demo.counter.DTO.TimeDTO">
        <![CDATA[
			delete from `payment`
			where pay_num = #{pay_num}
		]]>
    </delete>


</mapper>