<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.deu.pc.food.mapper.FoodMapper">

	<insert id="insertFood" parameterType="kr.ac.deu.pc.food.dto.FoodDTO">
	    INSERT INTO food
	    (cate_name, food_name, food_price, count, state, food_info)
	    VALUES
	    (#{cate_name}, #{food_name}, #{food_price}, #{count}, #{state}, #{food_info})
	</insert>

	<select id="getAllFoods" resultType="kr.ac.deu.pc.food.dto.FoodDTO">
		SELECT * FROM food
	</select>
</mapper>
