<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.login.mapper.LoginMapper">
	<select id="getUserTime" resultType="Integer" parameterType="String">
		<![CDATA[
			select time from user where id = #{id};
		]]>
	</select>
	
    <select id="login" resultType="com.example.demo.login.dto.LoginDTO" parameterType="String">
        <![CDATA[
			select id, pwd, time from user
			where id = #{id};
		]]>
    </select>
    
    <select id="nlogin" resultType="com.example.demo.login.dto.LoginDTO" parameterType="String">
        <![CDATA[
			select id, pwd, time from user
			where id = #{id};
		]]>
    </select>
    
    <select id="alogin" resultType="com.example.demo.login.dto.LoginDTO" parameterType="String">
        <![CDATA[
			select * from user
			where id = #{id} and grade = '0';
		]]>
    </select>
    
    <update id="movePC" parameterType="com.example.demo.counter.DTO.UserDTO">
		<![CDATA[
			update user set pwd = #{pwd} where id = #{id};
		]]>
	</update>
	
	<insert id="useStart" parameterType="map">
		<![CDATA[
			insert into `use` values (null, null, now(), #{id}, #{pcnum});
		]]>
	</insert>
	
	<update id="logout" parameterType="map">
		<![CDATA[
			update `use` set use_time = #{time}
			where use_num = (select max(use_num) from (select * from `use` where id = #{id}) as num);
		]]>
	</update>
	
	<update id="logout2" parameterType="map">
		<![CDATA[
			update user set time = time - #{time}
			where id = #{id};
		]]>
	</update>
	
	<update id="logout3" parameterType="String">
		<![CDATA[
			update user set time = 0 where id = #{id};
		]]>
	</update>
	
	<update id="moveUser" parameterType="String">
		<![CDATA[
			update `use` set use_seat = '자리이동' where id = #{id} and use_time is null;
		]]>
	</update>
	
	<update id="moveUse" parameterType="map">
		<![CDATA[
			update `use` set use_seat = #{pcnum} where id = #{id} and use_time is null;
		]]>
	</update>
	
	<select id="moveCheck" parameterType="String" resultType="Integer">
		<![CDATA[
			select count(*) from `use` where id = #{id} and use_time is null;
		]]>
	</select>
	
	<select id="getMovetime" parameterType="String" resultType="String">
		<![CDATA[
			select use_start from `use` where id = #{id} and use_time is null;
		]]>
	</select>
</mapper>