<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.login.mapper.LoginMapper">
    <select id="login" resultType="com.example.demo.login.dto.LoginDTO" parameterType="String">
        <![CDATA[
			select id from user
			where id = #{id} and pwd = #{pwd};
		]]>
    </select>
    
    <select id="nlogin" resultType="com.example.demo.login.dto.LoginDTO" parameterType="String">
        <![CDATA[
			select id, pwd from user
			where id = #{id};
		]]>
    </select>
    
    <update id="movePC" parameterType="com.example.demo.counter.DTO.UserDTO">
		<![CDATA[
			update user set pwd = #{pwd} where id = #{id};
		]]>
	</update>
</mapper>