<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.signin.mapper.SigninMapper">
	<select id="idOverlap" resultType="String" parameterType="String">
		<![CDATA[ 
			select id from user
			where id = #{id};
		]]>
	</select>
</mapper>