<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>DEU PC - 회원가입</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
			
			.d2 {
				margin: auto;
				margin-top: 1%;
				text-align: center;
			}
			
			.do-hyeon-regular {
				font-family: "Do Hyeon", sans-serif;
				font-weight: 400;
				font-style: normal;
				font-size: 22pt;
			}
			
			.login-logo {
				font-size: 70pt;
				color: #BD75C3;
				font-weight: bold;
				cursor: pointer;
			}
			
			.d3 {
				height: 100%;
				width: 40%;
				text-align: center;
				border: 2px solid #BD75C3;
				margin: auto;
				border-radius: 20px;
			}
			
			.d4 {
				margin: auto;
				margin-top: 10%;
			}
			
			.signin {
				width: 100%;
				height: 55px;
				background-color: #BD75C3;
				border: 0;
				border-radius: 10px;
				color: white;
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 10%;
			}
			
			.id_btn {
				background-color: #BD75C3;
				border: 0;
				border-radius: 5px;
				font-size: 14px;
				color: white;
				font-weight: bold;
			}
			
			.input-group-text {
				background-color: white;
				border: none;
				width: 100px;
			}
		</style>
		
		<script type="text/javascript" th:inline="javascript">
			//아이디확인
			function idCheck(){
				var idCheck = document.getElementById("id").value;
				var _patterns = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
				var resultSpan = document.getElementById("idCheckResult");
				
				if ( _patterns.test(document.getElementById("id").value) ) {
					alert("한글은 허용하지 않습니다.");
					document.getElementById("id").value = "";
					document.getElementById("id").focus();
					return false;
				} else if(document.getElementById("id").value.length < 4 || document.getElementById("id").value.length > 12){
					alert("4~12자로 입력해주세요");
					document.getElementById("id").value="";
					document.getElementById("id").focus();
					return false;
				}
				
				fetch('/pc/check_id/' + idCheck, {
					method: 'POST'
				})
				.then(response => response.json())
				.then(data => {
					if (!data.available) {
						resultSpan.textContent = data.message;
						resultSpan.style.color = "red";
					} else {
						resultSpan.textContent = data.message;
						resultSpan.style.color = "blue";
					}
				})
				.catch(error => {
					console.error('Error:', error);
					alert("ID 체크 중 오류가 발생했습니다.");
				});
				
				return false;
			}
			
			//비밀번호 확인
			function pwdCheck(){
				var pwdSpan = document.getElementById("pwd").value;
				var repwdSpan = document.getElementById("repwd").value;
				var pwdResult = document.getElementById("pwdResult");
				if(pwdSpan == repwdSpan){
					pwdResult.textContent = "비밀번호가 일치합니다.";
					pwdResult.style.color = "blue";
				} else {
					pwdResult.textContent = "비밀번호가 일치하지 않습니다.";
					pwdResult.style.color = "red";
				}
			}
			
			//회원가입 버튼 클릭시
			function validateForm() {
				var resultSpan = document.getElementById("idCheckResult");
				if (resultSpan.textContent !== "사용 가능한 ID입니다.") {
					alert("아이디 중복 확인을 해주세요.");
					document.getElementById("id").focus();
					return false;
				}
				
				var pwdResult = document.getElementById("pwdResult");
				if(pwdResult.textContent == "비밀번호가 일치하지 않습니다.") {
					alert("비밀번호를 확인해 주세요");
					document.getElementById("repwd").focus();
					return false;
				}
			
				//휴대전화
				var phone1 = document.getElementById("phone1").value;
				var phone2 = document.getElementById("phone2").value;
				var phone3 = document.getElementById("phone3").value;
				var phone = phone1 +"-"+ phone2 +"-"+ phone3;
				document.getElementById("phone").value = phone;
				
				if(phone.length != 13) {
					alert("전화번호를 다시 확인해 주세요");
					document.getElementById("phone1").focus();
					return false;
				}
				
				//이메일
				var email1 = document.getElementById("email1").value;
				var email2 = document.getElementById("email2").value;
				var email = email1 + "@" + email2;
				document.getElementById("email").value = email;
				
				//생년월일
				var year = document.getElementById("year").value;
				var month = document.getElementById("month").value;
				var day = document.getElementById("day").value;
				var birth = year + month + day;
				document.getElementById("birth").value = birth;
				return true;
			}
				
			document.addEventListener("DOMContentLoaded", function() {
				var message = /*[[${message}]]*/ '';
				var messageType = /*[[${messageType}]]*/ '';
				if (message !== '' && messageType !== ' ') {
					if (messageType === 'success') {
						alert(message);
						window.location.href="/pc/login";
					}
				}
			});
		</script>
	</head>
	
	<body>
		<div class="d1">
			<div class="d2 w-75 mb-5">
				<span class="login-logo" onclick="location.href='/pc/smain'">DEU PC</span><br>
				<span class="do-hyeon-regular">회원가입</span>
			</div>
			<div class="d3 mt-5">
				<div class="d4 w-75">
					<form id="signinFrm" name="signinFrm" method="POST" onsubmit="return validateForm()" th:action="@{/pc/signin}">
						<div class="input-group mb-4">
							<div class="input-group flex-nowrap">
								<span class="input-group-text" id="name">이름</span>
								<input type="text" class="form-control ml-3" name="name" placeholder="이름을 입력하세요" aria-label="Username" aria-describedby="addon-wrapping" required>
							</div>
						</div>
						<div class="input-group">
							<div class="input-group flex-nowrap">
								<span class="input-group-text" >아이디</span>
								<input type="text" id="id"name="id" class="form-control ml-3" placeholder="아이디를 입력하세요" aria-label="Username" aria-describedby="addon-wrapping"required>
								<button type="button" class="id_btn" id="id_btn" onclick="idCheck()">중복확인</button>
							</div>
						</div>
						<div class="input-group mb-3">
							<div class="input-group flex-nowrap">
								<span class="input-group-text" > </span>
								<span class="mx-4 mt-1" id="idCheckResult"></span>
								<div th:if="${idCheckError}" class="idCheckError" th:text="${idCheckError}"></div>
							</div>
						</div>
						<div class="input-group mb-4">
							<div class="input-group flex-nowrap">
								<span class="input-group-text" >비밀번호</span>
								<input type="password" id="pwd" class="form-control ms-3" name="pwd" placeholder="비밀번호를 입력하세요" aria-label="Username" aria-describedby="addon-wrapping" required>
							</div>
						</div>
						<div class="input-group ">
							<div class="input-group flex-nowrap">
								<span class="input-group-text" >비밀번호 확인</span>
								<input type="password" id="repwd" class="form-control ms-3" placeholder="비밀번호를 재입력하세요" aria-label="Username" aria-describedby="addon-wrapping" onkeyup="pwdCheck()" required>
							</div>
						</div>
						<div class="input-group mb-3">
							<div class="input-group flex-nowrap">
								<span class="input-group-text" > </span>
								<span class="mx-4 mt-1" id="pwdResult"></span>
								<div th:if="${pwdCheckError}" class="pwdCheckError" th:text="${pwdCheckError}"></div>
							</div>
						</div>
						<div class="input-group mb-4">
							<label class="input-group-text" for="inputGroupSelect01">전화번호</label>
							<select class="form-select mx-3" id="phone1">
								<option selected>010</option>
								<option value="1">011</option>
								<option value="2">016</option>
								<option value="3">017</option>
								<option value="4">018</option>
							</select>
							-<input type="text" id ="phone2" class="form-control mx-3" placeholder="1234" aria-label="Username" aria-describedby="addon-wrapping"required>
							-<input type="text" id ="phone3" class="form-control ml-3" placeholder="5678" aria-label="Username" aria-describedby="addon-wrapping"required>
							<input type="hidden" id="phone" name="phone">
						</div>
						<div class="input-group mb-4">
							<span class="input-group-text" >이메일</span>
							<input type="text" id="email1" class="form-control ml-3" placeholder="abcdefg" aria-label="Username"required>
							<span class="input-group-text w-auto">@</span>
							<select class="form-select" id="email2">
								<option th:each="email : ${emailDomains}" th:value="${email}" th:text="${email}"></option>
							</select>
							<input type="hidden" id="email" name="email">
						</div>
						<div class="input-group mb-4">
							<label class="input-group-text" for="inputGroupSelect01">생년월일</label>
								<select class="form-select ml-3" id="year">
									<option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
								</select>
								<select class="form-select mx-2" id="month">
									<option th:each="month : ${months}"th:value="${month}" th:text="${month}"></option>
								</select>
								<select class="form-select" id="day">
									<option th:each="day : ${days}" th:value="${day}" th:text="${day}"></option>
								</select>
							<input type="hidden" id="birth" name="birth">
						</div>
						<button type="submit" class="signin mt-2">회원가입</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
