@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.d2 {
	margin: auto;
	text-align: center;
}
			
.d3 {
	width: 30%;
	height: 350px;
	border: 2px solid #BD75C3;
	border-radius: 15px;
	margin: auto;
	text-align: center;
}

.d4 {
	margin: auto;
	margin-top: 2%;
}

.d5 {
	color: red;
}

.nld2 {
	margin: auto;
	text-align: center;
}
			
.nld3 {
	width: 30%;
	height: 235px;
	border: 2px solid #BD75C3;
	border-radius: 15px;
	margin: auto;
	text-align: center;
}

.nld4 {
	margin: auto;
	margin-top: 2%;
}

.nld5 {
	color: red;
}

input {
	height: 45px;
}

.login {
	width: 100%;
	height: 55px;
	background-color: #BD75C3;
	border: 0;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.login-logo {
	font-size: 70pt;
	color: #BD75C3;
	font-weight: bold;
}

.do-hyeon-regular {
	font-family: "Do Hyeon", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22pt;
}

.bd1 {
	position: relative;
	margin-top: 4%;
	left: 20%;
	width: 150px;
	height: 50px;
	border: 1px solid;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.bd1:hover {
	cursor: pointer;
	background-color: seashell;
}

.bd2 {
	text-align: center;
	width: 100%;
}

.sm1 {
	font-size: 17pt;
}